.heroImg {
  background-image: url("../../assets/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 34.2vh;
}

@media screen and (min-width: 780px) {
  .heroImg {
    background-image: url("../../assets/tablet/image-hero.jpg");
    background-size: 100% 100%;
    width: 50%;
    height: 90vh;
  }
}

@media screen and (min-width: 1180px) {
  .heroImg {
    width: 70%;
    height: 100vh;
    background-image: url("../../assets/desktop/image-hero.jpg");   
  }
}
