.logoImg {
  display: block;
  margin: 0;
}
.navigation button:hover {
  opacity: 0.6;
}
.bodyCtrl {
  overflow-y: hidden;
}
.bodyCtrlOff {
  overflow-y: unset;
}
@media screen and (min-width: 780px) {
  .bodyCtrl {
    overflow-y: scroll;
  }
}
