figure {
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 100px;
    right: 50px;
    color: white;
}
.ctrls__btn {
    width: auto;
    padding: 0;
    margin: auto;
    display: inline-block;
    background-color: inherit;   
}
.projects__ctrl {
    background-color: var(--dark-bg);
    color: var(--white-text);
}