figure {
  position: relative;
}
figcaption {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
}
.ctrls {
  gap: 20px;
  padding: 0 40px 30px;
  width: 96px;
  margin: 0;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
}
.ctrls__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: inherit;
}
.projects__ctrl {
  background-color: var(--dark-bg);
  color: var(--white-text);
}
.figure__title,
.figure__subtitle {
  font-size: 0.95rem;
  line-height: 20px;
}
.figure__title {
  font-weight: 800;
}
.figure__subtitle {
  font-weight: 400;
  text-align: right;
}
.projects__ctrl_container {
  width: 78.5%;
  margin: auto;
  padding-top: 81px;
}
.ctrls__title {
  font-size: 2.13rem;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.projects__container,
.titles {
  position: relative;
}
/* these slides to sit with .slide 1 */
.slide2,
.slide3,
.ctrls__title2,
.ctrls__title3 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.slide img {
  width: 100%;
}

.titleHide,
.slideHide {
  visibility: hidden;
}

.titleShow,
.slideShow {
  visibility: visible;   
  width: 100%;    
}

@media screen and (min-width: 780px) {
  .projects {
   /* top: -80px; */
    position: relative;
     height: 80vh; 
  }
  .projects__container {
    width: 59.3vw;
    right: 0;
    position: absolute;
  }
  .projects__ctrl {
    position: relative;
    width: 45.7vw;
    height: 60.1vh;
  }
  .projects__ctrl::before {
    position: absolute;
    content: "";
    background-image: url("../../assets/desktop/bg-pattern-wavy-white.svg");
    width: 131px;
    background-repeat: no-repeat;
    height: 65px;
    right: -66px;
    top: 21%;
    transform: scale(0.5);
  }
}

@media screen and (min-width: 1180px) {
  .projects {    
      height: 100vh; 
   }
  .projects__ctrl {
    padding-top: 70px;
    padding-left: 65px;
  }
  .ctrls__title h4 {
    font-size: 3.11rem;
    line-height: 64px;
  }
  .ctrls {
    margin-left: 24px;
    margin-top: 40px;
  }
}
