.primary__details {
  padding-top: 56px;
  padding-bottom: 96px;
  width: 78.5%;
  margin: auto;
}
.primary__heading {
  font-size: 2.5rem;
  line-height: 40px;
  text-align: left;
  font-weight: 800;
  padding-bottom: 15px;
}
.primary__btn {
  width: 177px;
  margin-top: 40px;
  margin-left: 0;
  padding: 26px;
}


