.promotional {
  background-color: var(--red-bg);
}
.promotional__section {
  padding-top: 96px;
  padding-bottom: 96px;
  width: 78.5%;
  margin: auto;
  color: var(--white-text);
}
.promotional__heading {
  font-size: 1.9rem;
  line-height: 40px;
  margin-bottom: 50px;
}
.promotional__details {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 80px;
}
.promotional__all {
  width: 95%;
  margin: 0 0 0 auto;
}
.promotional__title {
  font-size: 0.78rem;
  line-height: 25px;
  font-weight: 800;
  position: relative;
  margin-bottom: 15px;
}
.promotional__title::before {
  position: absolute;
  z-index: 1;
  font-size: 4.4rem;
  opacity: 0.5;
  top: -15px;
  left: -24px;
}
.promotional__title__one::before {
  content: "01";
}
.promotional__title__two::before {
  content: "02";
}
.promotional__title__three::before {
  content: "03";
}
.promotional__summary {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (min-width: 780px) {
  .promotional__section {
    width: 100%;
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .promotional__heading__container {
    width: 35%;
    background-color: white;
    color: black;
  }
  .promotional__heading {
    width: 80%;
    margin: 100px auto;
  }
  .promotional__details {
    position: relative;
    top: -80px;
    background-color: var(--red-bg);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 65%;
    /*  margin: auto; */
  }
  .promotional {
    background-color: transparent;
  /*  height: 100vh; */
  }
  .promotional__all {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 1180px) {
  .promotional__details {
    top: -120px;
    width: 56%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .promotional {
    height: 100vh;
  }
  .promotional__all {
    width: 56.3%;
  }
  .promotional__title {
    font-size: 1rem;
    line-height: 32px;
  }
  .promotional__title::before {
    left: -57px;
  }
  .promotional__summary {
    font-size: 1rem;
    line-height: 32px;
    width: 75%;
  }
  .promotional__heading {
    position: relative;
    font-size: 3.1rem;
    line-height: 64px;
    margin-top: 200px;
    margin-right: -120px;
    z-index: 10;
  }
}
