* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red-text: #f94f4f;
  --red-bg: #f94f4f;
  --dark-bg: #191921;
  --white-text: white;
  --white-bg: white;
}
.App {
  width: 100vw;
}
.navigation {
  position: absolute;
  top: 73px;
  left: 20%;
  background: var(--dark-bg);
  width: 77%;
  
}
/*hide navigation and menu toggling */
.navHide {   
  display: none;  
}
/*show the navigation menu toggling */
.navShow {
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.navList {
  padding-top: 40px;
}
li {
  list-style: none;
  text-align: center;
  margin-bottom: 24px;
}
button {
  width: 199px;
  padding: 22.5px 0;
  display: block;
  margin: 0 auto 40px;
  background-color: var(--red-bg);
  color: var(--white-text);
  border: none;
  font-size: 0.89rem;
  font-weight: 800;
  outline: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.001);
}

a {
  text-decoration: none;
  line-height: 32px;
  color: var(--white-text);
  opacity: 0.7;
}
a:hover {
  opacity: 1;
}
header {
  position: relative;
  display: flex;
  width: 78.5%;
  margin: 40px auto;
  justify-content: space-between;
}

.nav-toggle {
  display: flex;
  position: relative;
  place-items: center;
}
.closeMenu {
  position: absolute;
  left: -20px;
  top: 0;
}
/* paragraph */
.primary__summary,
.secondary__summary {
  font-size: 0.83rem;
  font-weight: 400;
  line-height: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



@media screen and (min-width: 780px) {
  header {
    margin: 40px auto 33px;
  }
  .navigation {
    top: -40px;
    left: 39%;
    width: 75%;
    display: flex;
    background-color: var(--red-bg);
    padding-top: 45px;
    padding-bottom: 44px;
  }
  .nav-toggle {
    position: relative;
    display: none;
  }

  .navList {
    display: flex;
    width: 50%;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 34px;
  }
  .logo {
    padding-top: 34px;
    padding-bottom: 42px;
  }

  button {
    width: 147px;
    margin: auto;
    background-color: var(--dark-bg);
  }
  button:focus {
    opacity: 0.5;
  }

  /* Hero and primary section */
  .hero__primary {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-wrap: nowrap;
  }
  /* edge browser support - to force height to be 100vh */
  @supports (-ms-ime-align: auto) {
    .hero__primary {
      height: 100vh;
    }
  }
  .secondary {
    display: flex;
  }
}
@media screen and (min-width: 1180px) {
  .navigation {
    left: 51%;
    width: 62%;
    justify-content: center;
  }
  button {
    margin: auto 0;
  }
  /* paragraph */
  .primary__summary,
  .secondary__summary {
    font-size: 1rem;
    line-height: 32px;
  }
  .secondary__summary {
    width: 70%;
  }
  .primary__summary {
    margin-top: 39px;
    width: 83%;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
  }
}
