@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;500;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Commissioner', sans-serif;
}
