.footer__container {
  width: 78.5%;
  margin: 30px auto 30px;
}
.footer__title {
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 47px;
}
.footer__btn {
  margin-left: 0;
}

@media screen and (min-width: 780px) {
  .footer__btn {
    margin-left: 0;
    margin-top: 0;
    background-color: var(--red-bg);
  }
  .footer__container {
    display: flex;
  }
}
@media screen and (min-width: 1180px) {
  .footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer::before {
    position: absolute;
    width: 136px;
    left: -65px;
    transform: scale(0.8);
    background-repeat: no-repeat;
    height: 60px;
    content: "";
    background-image: url("../assets/desktop/bg-pattern-wave-red.svg");
  }
  .footer__container {
    justify-content: space-between;
  }
}
